{% extends "base.html" %}
{% load common_helper %}
{% block title %}Product List{% endblock %}

{% block content %}
<div class="container">
	<div class="row home_section">
		<div class="col-md-5">
			<div class="listing_section">
				<div class="history_header">
					<h3>Add Product</h3>
				</div>
				<div class="history_container">
					<form action="{% if id %}{% url 'product:product_detail' id data %}{% else %}{% url 'product:product' %}{% endif %}" method="post">
					    {% csrf_token %}
					    {{ product }}
					    <div class="history_container">
					    	<button type="submit" class="btn btn-primary">Save</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="listing_section">
				<div class="history_header">
					<h3>List Of Products</h3>
				</div>
				<div class="row history_container">
					<table class="table table-striped">
					  <tr>
					  	<th scope="col">S.no.</th>
					  	{% if request.user.is_staff %}
					  	<th>User's Name</th>
					  	{% endif %}
					    <th scope="col">Database</th>
					    <th scope="col">Product Name</th>
					  </tr>
					  {% for database, name in product_list %}
						  <tr>
						  	<th scope="row">{{forloop.counter}}</th>
						  	{% if request.user.is_staff %}
						  	<td>{{name.user|get_user}}</td>
						  	{% endif %}
						    <td>{{database}}</td>
						    <td><a href="{% url 'product:product_detail' name.id database %}">{{name.product_name}}</a></td>
						  </tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}